<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cxf="http://camel.apache.org/schema/cxf"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	 http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
	 http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:annotation-config /> <context:component-scan base-package="com.af.prud" 
		/> -->

	<!-- <cxf:cxfEndpoint id="testServiceEndpoint" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" 
		wsdlURL="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?wsdl" 
		serviceClass="org.oorsprong.websamples_countryinfo.CountryInfoServiceSoapType" 
		endpointName="ws:CountryInfoServiceSoap" serviceName="ws:CountryInfoService" 
		xmlns:ws="http://www.oorsprong.org/websamples.countryinfo"> <cxf:properties> 
		<entry key="dataFormat" value="MESSAGE" /> </cxf:properties> </cxf:cxfEndpoint> -->
<!-- 	<cxf:rsServer id="restService"
		address="http://localhost:8081/IL"
		serviceClass="com.af.prud.controller.ILRequesGeneratorController">
	</cxf:rsServer>

	<bean id="processor"
		class="com.af.prud.processor.ILRequesProcessor" />

	<camelContext id="abcd"
		xmlns="http://camel.apache.org/schema/spring">
		<routeBuilder ref="eposToILRouteBuilder" />
		<route>
			<from uri="cxfrs://bean://restService" />
			<process ref="processor" />
		</route>
		
	</camelContext> -->
	<!-- <cxf:cxfEndpoint id="clientServiceEndpoint"
		address="http://10.163.177.100:9081/FSUWebSrv/CLIService"
		wsdlURL="http://10.163.177.100:9081/FSUWebSrv/CLIService/WEB-INF/wsdl/CLIService.wsdl"
		endpointName="ws:CLIServicePort"
		serviceClass="smart.csc.bo.services.cli.CLI"
		serviceName="ws:CLIService"

		xmlns:ws="http://www.csc.smart/bo/services/CLI">
		<cxf:properties>
			<entry key="dataFormat" value="MESSAGE" />
		</cxf:properties>
	</cxf:cxfEndpoint> -->

	<!-- <cxf:rsServer id="rsServer" address="/IL" serviceClass="com.af.prud.controller.ILRequesGeneratorController"/> -->

<!-- 	<camelContext id="camel"
		xmlns="http://camel.apache.org/schema/spring">
		<routeBuilder ref="eposToILRouteBuilder" />
	</camelContext> -->

<!-- 	<bean class="com.af.prud.router.MyRoute" id="eposToILRouteBuilder" />
	<bean class="com.af.prud.processor.SoapResponseProcessor"
		id="soapResponseProcessor" />
	<bean id="restProcessor"
		class="com.af.prud.processor.ILRequesProcessor" /> -->

</beans>